<section class="about" id="about">
  <div class="container about-container">
    <div class="about-image">
      <img
        class="us-image"
        srcset="../img/about-us/about.jpg 1x, ../img/about-us/about-1.jpg 2x"
        src="../img/about-us/about.jpg"
        alt="About us image"
      />
    </div>
    <div class="about-content">
      <h2 class="about-title">The Artistry Behind Handmade Jewelry</h2>
      <p class="about-text">
        Handmade Jewelry began as a passion project, inspired by the beauty of
        nature and the desire to create meaningful pieces. Each item is crafted
        with love, reflecting our commitment to sustainability and the unique
        story of its maker.
      </p>
      <ul class="about-list">
        <li class="about-list-item item-nature">Inspired by Nature</li>
        <li class="about-list-item item-love">Handcrafted with Love</li>
        <li class="about-list-item item-story">Every Piece Tells a Story</li>
      </ul>
    </div>
  </div>
</section>
