<section class="gallery" id="gallery">
  <div class="container gallery-container">
      <h2 class="gallery-title">Jewelry Showcase</h2>
      <p class="gallery-text">
        Discover the beauty of our handcrafted jewelry in style.
      </p>
    <ul class="gallery-images ul-gallery">
      <li>
        <img 
        class="gallery-img-1 gallery-item" 
        srcset="../img/gallery1.jpg 1x, ../img/gallery1-1.jpg 2x"
        src="../img/gallery1.jpg" alt="circlet">
      </li>
      <li>
        <img 
        class="gallery-img-2 gallery-item"
        srcset="../img/gallery2.jpg 1x, ../img/gallery2-1.jpg 2x"
         src="../img/gallery2.jpg" alt="pendant">
      </li>
      <li>
        <img
        class="gallery-img-3 gallery-item"
        srcset="../img/gallery3.jpg 1x, ../img/gallery3-1.jpg 2x"
         src="../img/gallery3.jpg" alt="necklace">
      </li>
      <li>
        <img 
        class="gallery-img-4 gallery-item"
        srcset="../img/gallery4.jpg 1x, ../img/gallery4-1.jpg 2x"
         src="../img/gallery4.jpg" alt="earrings">
      </li>
    </ul>
  </div>
</section>
