<section class="testimonials" id="testimonials">
  <div class="container">
    <h2 class="testimonials__title">Customer testimonials</h2>
    <p class="testimonials__description">
      Absolutely love my new earrings! They are stunning.
    </p>

    <ul class="testimonials__list">
      <li class="testimonials__item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/diverse-female-desktop.jpg   1x,
              /img/diverse-female-desktop@2.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/diverse-female-tablet.jpg   1x,
              /img/diverse-female-tablet@2.jpg 2x
            "
          />
          <img
            srcset="
              /img/diverse-female-mobile.jpg   1x,
              /img/diverse-female-mobile@2.jpg 2x
            "
            src="/img/diverse-female-mobile.jpg"
            alt="Smiling woman with earrings"
            class="testimonials__image"
            loading="lazy"
            width="260"
            height="304"
          />
        </picture>
      </li>

      <li class="testimonials__item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/lgbtq-man-desktop.jpg   1x,
              /img/lgbtq-man-desktop@2.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/lgbtq-man-tablet.jpg   1x,
              /img/lgbtq-man-tablet@2.jpg 2x
            "
          />
          <img
            srcset="
              /img/lgbtq-man-mobile.jpg   1x,
              /img/lgbtq-man-mobile@2.jpg 2x
            "
            src="/img/lgbtq-man-mobile.jpg"
            alt="Man wearing a pendant"
            class="testimonials__image"
            loading="lazy"
            width="260"
            height="304"
          />
        </picture>
      </li>

      <li class="testimonials__item testimonials__item--text">
        <div class="review-card__rating">
          <svg class="review-card__icon" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fiiled"></use>
          </svg>
          <svg class="review-card__icon" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fiiled"></use>
          </svg>
          <svg class="review-card__icon" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fiiled"></use>
          </svg>
          <svg class="review-card__icon" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fiiled"></use>
          </svg>
          <svg
            class="review-card__icon review-card__icon--outline"
            width="24"
            height="24"
          >
            <use href="/img/icons.svg#icon-star-outline"></use>
          </svg>
        </div>
        <p class="review-card__text">
          "Each piece tells a story, and I love mine!"
        </p>
        <p class="review-card__author">Thjmas Mans</p>
      </li>

      <li class="testimonials__item testimonials__item--text">
        <div class="review-card__rating">
          <svg class="review-card__icon" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fiiled"></use>
          </svg>
          <svg class="review-card__icon" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fiiled"></use>
          </svg>
          <svg class="review-card__icon" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fiiled"></use>
          </svg>
          <svg class="review-card__icon" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fiiled"></use>
          </svg>
          <svg class="review-card__icon" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fiiled"></use>
          </svg>
        </div>
        <p class="review-card__text">
          "The craftsmanship is exquisite, and I feel unique wearing it."
        </p>
        <p class="review-card__author">Jane Edison</p>
      </li>

      <li class="testimonials__item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/wrist-coffee-desktop.jpg   1x,
              /img/wrist-coffee-desktop@2.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/wrist-coffee-tablet.jpg   1x,
              /img/wrist-coffee-tablet@2.jpg 2x
            "
          />
          <img
            srcset="
              /img/wrist-coffee-mobile.jpg   1x,
              /img/wrist-coffee-mobile@2.jpg 2x
            "
            src="/img/wrist-coffee-mobile.jpg"
            alt="Hands holding coffee cup"
            class="testimonials__image"
            loading="lazy"
            width="260"
            height="304"
          />
        </picture>
      </li>

      <li class="testimonials__item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/close-up-studio-ring.jpg   1x,
              /img/close-up-studio-ring@2.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/close-up-studio-tablet.jpg   1x,
              /img/close-up-studio-tablet@2.jpg 2x
            "
          />
          <img
            srcset="
              /img/close-up-studio-mobile.jpg   1x,
              /img/close-up-studio-mobile@2.jpg 2x
            "
            src="/img/close-up-studio-mobile.jpg"
            alt="Close up of a ring"
            class="testimonials__image"
            loading="lazy"
            width="260"
            height="304"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
