.about-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about {
  padding-top: 56px;
  padding-bottom: 56px;
}

.about-image {
  width: 335px;
  height: 335px;
  flex-shrink: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.about-title {
  padding-top: 0;
  font-size: 36px;
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.us-image {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media only screen and (min-width: 768px) {
  .about-container {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .about {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .us-image {
    max-height: 456px;
  }

  .about-image {
    width: 704px;
    height: 456px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-container {
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .about-content .about-list {
    padding-bottom: 27.5px;
  }

  .about .about-container {
    flex-direction: row;
  }

  .about-content {
    display: block;
  }

  .about-content .about-title {
    font-size: 48px;
    padding-top: 27.5px;
  }
}

.about-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 24px;
}

.about-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.about-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}

.about-list-item::before {
  content: '';
  display: inline-block;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background-color: #000000;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.item-nature::before {
  -webkit-mask-image: url('/img/icon-leaf.svg');
  mask-image: url('/img/icon-leaf.svg');
}

.item-love::before {
  -webkit-mask-image: url('/img/icon-donate-heart.svg');
  mask-image: url('/img/icon-donate-heart.svg');
}

.item-story::before {
  -webkit-mask-image: url('/img/icon-book.svg');
  mask-image: url('/img/icon-book.svg');
}
