.benefits {
  padding: 64px 20px;
}
.benefits-titel {
  text-align: center;
  font: 400 36px / 1.2 'Sora', sans-serif;
  color: #000000;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.benefits-list-item {
  padding: 32px 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
}

.benefits-titel-card {
  font: 400 24px / 1.4 'Sora', sans-serif;
  color: #000000;
  text-align: center;
  margin-bottom: 24px;
}
.benefits-text-card {
  text-align: center;
}
.benefits .container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media only screen and (min-width: 768px) {
  .benefits .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .benefits .container {
    padding-left: 64px;
    padding-right: 64px;
  }
  .benefits-list {
    flex-direction: row;
    gap: 32px;
  }
  .benefits-list-item {
    width: calc((100% - 32px * 2) / 3);
  }
  .benefits-titel {
    max-width: 870px;
    margin: 0 auto;
  }
}
