.header {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header .logo {
  margin-right: 32px;
}

.logo-img {
  width: 84px;
  height: 36px;
}

.menu {
  display: flex;
  gap: 32px;
}

.menu-link {
  display: block;
  padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus {
  text-decoration: underline;
}

.menu-link:active {
  color: #8668c7;
  text-decoration: none;
}

.header-button {
  display: inline-block;
  font-weight: 500;
  padding: 6px 55px;
  background-color: #ccc16e;
  border: 1px solid transparent;
}

.header-button:hover,
.header-button:focus {
  background-color: transparent;
  border: 1px solid #ccc16e;
}

.header-button:active {
  background-color: #ccc16e;
  border: 1px solid transparent;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.32);
}
