/* Styles for Mobile devices */
.header {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu,
.header-button {
  display: none;
}

.header .logo {
  padding: 2px 0;
  display: block;
}

.logo-img {
  width: 160px;
  height: 68px;
}

.burger-button {
  background: transparent;
  border: none;
}

.burger-button-icon {
  display: block;
  fill: #000;
}

/* Styles for Mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 88px;
  z-index: 99;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  background-color: #fff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.mobile-menu .logo {
  position: absolute;
  top: 2px;
  left: 20px;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  background: transparent;
  border: none;
}

.close-button-icon {
  display: block;
  fill: #000;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 64px;
}

.mobile-menu-link {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:focus {
  text-decoration: underline;
}

.mobile-menu-link:active {
  color: #8668c7;
  text-decoration: none;
}

.mobile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  font-weight: 500;
  background-color: #ccc16e;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-button:focus {
  background-color: transparent;
  border: 1px solid #ccc16e;
}

.mobile-button:active {
  background-color: #ccc16e;
  border: 1px solid transparent;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.32);
}

/* Styles for Tablet devices */

@media screen and (min-width: 768px) {
  .header .logo {
    padding: 18px 0;
  }

  .logo-img {
    width: 84px;
    height: 36px;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .menu-link {
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus {
    text-decoration: underline;
  }

  .menu-link:active {
    color: #8668c7;
    text-decoration: none;
  }

  .header-button {
    display: inline-block;
    font-weight: 500;
    padding: 6px 18.5px;
    background-color: #ccc16e;
    border: 1px solid transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-button:hover,
  .header-button:focus {
    background-color: transparent;
    border: 1px solid #ccc16e;
  }

  .header-button:active {
    background-color: #ccc16e;
    border: 1px solid transparent;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.32);
  }

  .burger-button {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}

/* Styles for Desktop devices */

@media screen and (min-width: 1440px) {
  .header-nav {
    justify-content: flex-start;
  }

  .header .logo {
    margin-right: 32px;
  }

  .menu {
    gap: 32px;
  }

  .header-button {
    padding: 6px 55px;
    margin-left: auto;
  }
}
