.hero {
  padding-top: 160px;
  padding-bottom: 152px;
  margin: 0 auto;
  background-color: #2e2f42;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../../img/hero-mobile-1x.jpg');
}

.hero-title {
  max-width: 335px;
  font-family: 'Sora', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 24px;
}

.hero-text {
  max-width: 335px;
  font-size: 18px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 32px;
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  font-weight: 500;
  background-color: #ccc16e;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus {
  background-color: #ffffff;
  border: 1px solid #ccc16e;
}

.hero-button:active {
  background-color: #ccc16e;
  border: 1px solid transparent;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.32);
}

@media (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../../img/hero-mobile-2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 160px;
    padding-bottom: 435px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../../img/hero-tablet-1x.jpg');
  }

  .hero-title {
    max-width: 513px;
  }

  .hero-text {
    max-width: 513px;
  }

  .hero-button {
    display: inline-block;
    padding: 6px 67.5px;
  }

  .hero-button:hover {
    background-color: #ffffff;
    border: 1px solid #ccc16e;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 2dppx),
  screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../../img/hero-tablet-2x.jpg');
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    max-width: 1440px;
    padding-top: 224px;
    padding-bottom: 360px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../../img/hero-1x.jpg');
  }

  .hero-title {
    max-width: 640px;
    font-size: 56px;
  }

  .hero-text {
    max-width: 640px;
  }

  .hero-button {
    padding: 6px 55px;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 2dppx),
  screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../../img/hero-2x.jpg');
  }
}
