/* ========================================= */

/* BASE STYLES & MOBILE (от 375px до 767px)  */

/* ========================================= */

.testimonials {
  padding-top: 40px;

  padding-bottom: 40px;
}

.testimonials__title {
  font-family: inherit;

  font-weight: 500;

  font-size: 36px;

  line-height: 1.2;

  color: #111;

  text-align: center;

  margin-top: 0;

  margin-bottom: 14px;
}

.testimonials__description {
  font-size: 14px;

  line-height: 1.5;

  color: #111;

  text-align: center;

  margin-top: 0;
}

.testimonials__list {
  display: grid;

  grid-template-columns: 1fr;

  gap: 24px;

  padding: 0;

  margin: 0;

  list-style: none;
}

.testimonials__item {
  width: 100%;

  height: auto;

  display: flex;

  flex-direction: column;

  box-sizing: border-box;
}

.testimonials__image {
  width: 100%;

  height: 100%;

  min-height: 260px;

  object-fit: cover;

  display: block;
}

.testimonials__item--text {
  background-color: #f2f2f2;

  border: 1px solid rgba(0, 0, 0, 0.2);

  padding: 32px;

  height: 100%;

  justify-content: flex-start;
  min-height: 260px;
}

.review-card__rating {
  display: flex;

  gap: 4px;

  margin-bottom: 20px;
}

.review-card__icon {
  fill: #111;

  display: block;
}

.review-card__icon--outline {
  fill: transparent;

  stroke: #111;

  stroke-width: 2px;
}

.review-card__text {
  font-size: 18px;

  line-height: 1.5;

  font-weight: 400;

  color: #111;

  padding-bottom: 24px;

  margin: 0;
}

.review-card__author {
  font-weight: 600;

  font-size: 16px;

  line-height: 1.5;

  color: #111;

  margin: 0;

  margin-top: auto;
}

/* ========================================= */

/* TABLET ( 768px - 1439px)               */

/* ========================================= */

@media screen and (min-width: 768px) {
  .testimonials {
    padding-top: 80px;

    padding-bottom: 80px;
  }

  .testimonials__title {
    font-size: 36px;
  }

  .testimonials__description {
    font-size: 16px;

    margin-bottom: 48px;
  }

  .testimonials__list {
    display: flex;

    flex-wrap: wrap;

    gap: 24px;
  }

  .testimonials__list > * {
    grid-column: auto;
  }

  .testimonials__item {
    width: calc((100% - 48px) * 0.316176);

    flex-grow: 1;
  }

  .testimonials__item--text {
    width: calc((100% - 48px) * 0.367647);

    padding: 32px 32px;

    box-sizing: border-box;
  }

  .review-card__text {
    font-size: 18px;

    line-height: 1.5;
  }

  .testimonials__image {
    height: 260px;

    width: 100%;

    object-fit: cover;

    object-position: top center;

    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .testimonials {
    padding-top: 128px;

    padding-bottom: 128px;
  }

  .testimonials__description {
    margin-bottom: 56px;
  }

  .testimonials__title {
    font-size: 48px;

    margin-bottom: 24px;
  }

  .testimonials__list {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 32px;
  }

  .testimonials__item,
  .testimonials__item--text {
    width: auto;
  }

  .testimonials__item {
    grid-column: span 1;
  }

  .testimonials__item--text {
    grid-column: span 2;

    padding: 32px;
  }
}
