.testimonials {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.testimonials__title {
  font-family: inherit;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  color: #111;
  text-align: center;
  margin-top: 0;
  margin-bottom: 14px;
}

.testimonials__description {
  font-size: 14px;
  line-height: 1.5;
  color: #111;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.testimonials__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}

.testimonials__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 260px;
}

.testimonials__image {
  width: 100%;
  height: 100%;
  min-height: 260px;
  object-fit: cover;
  display: block;
}

.testimonials__item--text {
  background-color: #f2f2f2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 32px;
  height: auto;
  justify-content: flex-start;
}

.review-card__rating {
  display: flex;
  gap: 4px;
  margin-bottom: 20px;
}

.review-card__icon {
  fill: #111;
  display: block;
}

.review-card__icon--outline {
  fill: transparent;
  stroke: #111;
  stroke-width: 2px;
}

.review-card__text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #111;
  margin: 0;
  margin-bottom: 24px;
}

.review-card__author {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #111;
  margin: 0;
  margin-top: auto;
}

@media only screen and (min-width: 768px) {
  .testimonials__item {
    width: 203px;
  }

  .testimonials__item--text {
    width: 250px;
    padding: 32px 24px;
  }

  .testimonials__list > li:nth-child(4) {
    width: 248px;
  }
  .testimonials__list > li:nth-child(5),
  .testimonials__list > li:nth-child(6) {
    width: 204px;
  }
}

@media screen and (min-width: 1440px) {
  .testimonials {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .testimonials__description {
    margin-bottom: 56px;
  }

  .testimonials__title {
    font-size: 48px;
    margin-bottom: 24px;
  }

  .testimonials__list {
    gap: 32px;
    max-width: 1440px;
  }

  .testimonials__item {
    width: 304px;
    height: 260px;
  }

  .testimonials__item--text {
    width: 640px;
    padding: 32px;
    min-height: 260px;
  }

  .testimonials__list > li:nth-child(4) {
    width: 640px;
  }

  .testimonials__list > li:nth-child(5),
  .testimonials__list > li:nth-child(6) {
    width: 304px;
  }
}
